/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/

/* Renato, essa parte ate a linha 20 nao eh so colocar *{} ? */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

body{
	font-family: sans-serif;
}
/*============fim do reset css =========*/

/*===============++++++++++=============*/
/*===============++++++++++=============*/


/*=========== inicio do cabeçalho ===========*/




header {
	/*position: relative;*/
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	/*background-image: url("../imagens/barra_azuis.png");*/
/*	background-image: url("../imagens/user_gamer.png");*/
	background-image: url("../imagens/painel.png");
	background-repeat: no-repeat;
	background-position: 270px -170px;
	background-size: 500px;
	/*background-color: #DAD5C2;*/
}
header h1 {
	font-size: 44px;
	font-weight: lighter;
	margin-left: 305px;
	padding-top: 25px;
	margin-bottom: 150px;
	/*margin-top: 150px;*/
	/*float: right;*/
	/*margin-right: 80px;*/
	/*position: absolute;*/
	/*left: 515px;*/
	
}
header h1 a{
	text-decoration: none;
	color:#ffcc00;
}
header img[alt] {
	width: 430px;
	margin-top: 50px;
	margin-left: 100px;

	/*position: relative;*/
}
header nav{
	margin-top: 95px;

}
header nav ul {

}
header nav ul li {
	display: inline-block;
	margin-left: 15px;
	width: 140px;
	height: 205px;
	background-color: #ece1c1;
	text-align: center;
	vertical-align: text-bottom;

}

header nav ul li:nth-child(1) {
	background-image: url("../imagens/mergulha01.png");
	background-repeat: no-repeat;
	background-position: 50% 35%;
	margin-left: 30px;
}
header nav ul li:nth-child(2) {
	background-image: url("../imagens/mergulha02.png");
	background-repeat: no-repeat;
	background-position: 50% 35%;
}
header nav ul li:nth-child(3) {
	background-image: url("../imagens/mergulha03.png");
	background-repeat: no-repeat;
	background-position: 50% 35%;
}
header nav ul li:nth-child(4) {
	background-image: url("../imagens/mergulha02.png");
	background-repeat: no-repeat;
	background-position: 50% 35%;
}
header nav ul li:nth-child(5) {
	background-image: url("../imagens/mergulha01.png");
	background-repeat: no-repeat;
	background-position: 50% 35%;
}
header nav ul li:nth-child(6) {
	background-image: url("../imagens/mergulha03.png");
	background-repeat: no-repeat;
	background-position: 50% 35%;
}
header nav ul li a {
	height: 205px;
	width: 140px;
	display: block;
	text-decoration: none;
}
header nav ul li a:hover {
	
	background-image:url("../imagens/tubarao.png");
	background-color: #ffcc00;
	background-repeat: no-repeat;
	background-position: 35px 70px;
	
}
header nav ul li span{
	height: 30px;
	width: 140px;
	font-size: 1.2em;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	
	background-color: #ffcc00;
	margin-top: 175px;
	vertical-align: text-bottom;
	line-height: 30px;

}
/*header nav ul li span:hover{
	display: none;

}*/
/*=========== fim do cabeçalho ===========*/


/*=========== inicio do corpo ===========*/
/*div#container{
	
	background-color: #82B4BF;
}*/
body{
	background-image: url("../imagens/pattern_2.jpg");
}
article {
	width: auto;
	height: 200px;
	margin-top: 9%;
	background-color: #82B4BF;
}

 	


/*=========== fim do corpo ==============*/


/*=========== inicio do rodapé ===========*/
footer{
	height: 70px;
	background-image: url("../imagens/rodape.png");
	background-repeat: repeat-x;
	background-color: #D9E1E3;


}
footer p{
	margin: 0 auto;
	padding-top: 40px;
	width: 1000px;
	color: #589BA9;
}
footer figure{
	width: 1000px;
	margin: 0 auto;
}
footer figure img {
	float: right;
	margin-top:-20px;
}
/*=========== fim do rodapé ==============*/