header nav ul li:nth-child(2){	
	background-image:url("../imagens/tubarao.png");
	background-color: #ffcc00;
	background-repeat: no-repeat;
	background-position: 35px 70px;	
}
header h1{	
	margin-bottom: 80px;
}
article{
	margin-top: 5%;
}
/*=========== inicio do corpo ===========*/
article.conteudo{
	height: 680px;
	padding-top: 150px;
	font-family: courier, serif;
	color:#82B4BF;
	line-height: 1.5;
	font-size:17px;	
	text-align: justify;
}
article div.descricao {
	margin: 0 auto;
	width: 800px;
	height: 530px;
	background-image: url("../imagens/fundo.png");
	background-size: 100% 100%;
	padding: 60px;
}
article div h2{	
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 30px;
}
article div h2#segundo{
	padding-top: 25px;
}
article div p{
	text-indent: 40px;
}
article div ul li{
	list-style: inside;
	list-style-type: square;
}
/*=========== fim do corpo ==============*/